<template>
    <div>
        <table class="mt-8 bg-white dark:bg-gray-800 overflow-hidden shadow sm:rounded-lg text-gray-600 dark:text-gray-400 text-sm">
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        <tr v-for="journal in journals" :key="journal.id">
            <td>{{ journal.id }}</td>
            <td>{{ journal.name }}</td>
        </tr>
        </table>
        <button v-on:click="firstPage">First</button>
        <button v-on:click="prevPage">Prev</button>
        <button v-on:click="nextPage">Next</button>
        <button v-on:click="lastPage">Last</button>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                journals: [],
                current: null,
                next: null,
                prev: null,
                first: null,
                last: null
            }
        },
        mounted() {
            console.log('Component mounted.');
            axios.get("/api/journals").then(response => {
                console.log(response);
                this.journals = response.data.data;
                this.current = response.config.url;
                this.prev = response.data.links.prev;
                this.next = response.data.links.next;
                this.first = response.data.links.first;
                this.last = response.data.links.last;
            });
        },
        created () {
            Echo.channel(`journals`)
                .listen('JournalAdded', (e) => {
                    //alert("Journal has been added!");
                    axios.get(this.current).then(response => {
                        console.log(response);
                        this.journals = response.data.data;
                        this.current = response.config.url;
                        this.prev = response.data.links.prev;
                        this.next = response.data.links.next;
                        this.first = response.data.links.first;
                        this.last = response.data.links.last;
                    });
                });

            Echo.channel(`journals`)
                .listen('JournalDeleted', (e) => {
                    //alert("Journal has been deleted!");
                    axios.get(this.current).then(response => {
                        console.log(response);
                        this.journals = response.data.data;
                        this.current = response.config.url;
                        this.prev = response.data.links.prev;
                        this.next = response.data.links.next;
                        this.first = response.data.links.first;
                        this.last = response.data.links.last;
                    });
                });
        },
        methods: {
            firstPage() {
                axios.get(this.first).then(response => {
                    console.log(response);
                    this.journals = response.data.data;
                    this.current = response.config.url;
                    this.prev = response.data.links.prev;
                    this.next = response.data.links.next;
                });
            },
            prevPage() {
                axios.get(this.prev).then(response => {
                    console.log(response);
                    this.journals = response.data.data;
                    this.current = response.config.url;
                    this.prev = response.data.links.prev;
                    this.next = response.data.links.next;
                });
            },
            nextPage() {
                axios.get(this.next).then(response => {
                    console.log(response);
                    this.journals = response.data.data;
                    this.current = response.config.url;
                    this.prev = response.data.links.prev;
                    this.next = response.data.links.next;
                });
            },
            lastPage() {
                axios.get(this.last).then(response => {
                    console.log(response);
                    this.journals = response.data.data;
                    this.current = response.config.url;
                    this.prev = response.data.links.prev;
                    this.next = response.data.links.next;
                });
            }
        }
    }
</script>
