<template>
  <div class="text-center section">
    <v-calendar
      class="custom-calendar max-w-full"
      :masks="masks"
      :attributes="attributes"
      disable-page-swipe
      is-expanded
      @update:to-page="monthChange"
    >
      <template v-slot:day-content="{ day, attributes }">
        <div class="flex flex-col h-full z-10 overflow-hidden">
          <span class="day-label text-sm text-gray-900">{{ day.day }}</span>
          <div class="flex-grow overflow-y-auto overflow-x-auto">
            <p
              v-for="attr in attributes"
              :key="attr.key"
              class="text-xs leading-tight rounded-sm p-1 mt-0 mb-1"
              :class="attr.customData.class"
            >
              {{ attr.customData.title }}
            </p>
          </div>
        </div>
      </template>
    </v-calendar>
  </div>
</template>

<script>
export default {
  data() {
    return {
      masks: {
        weekdays: "WWW",
      },
      attributes: [],
      currYear: new Date().getFullYear(),
      currMonth: new Date().getMonth()+1,
    };
  },
  mounted() {
    console.log("Component mounted.");
    // this.getEvents( new Date().getFullYear(), new Date().getMonth()+1);
  },
  created() {
    Echo.channel(`events`).listen("EventAdded", (e) => {
        console.log(e);
        this.attributes.push({
            key: e.event.EVN_NO,
            customData: {
                title: e.article.ART_NAME,
                class: "bg-blue-600 text-white",
            },
            dates: new Date(e.event.EVN_DATE_STARTDAY)
        })
    });

    Echo.channel(`events`).listen("EventDeleted", (e) => {
        console.log(e);
        var index = this.attributes.findIndex(function(o){
            return o.key === e.event.EVN_NO;
        })
        if (index !== -1) this.attributes.splice(index, 1);
    });
  },
  methods: {
    async getEvents() {
        this.attributes = [];
        axios.get("/api/events", {params: { year: this.currYear, month: this.currMonth }}).then((response) => {
        // axios.get("/api/events").then((response) => {
            console.log(response);
            this.attributes = [];
            response.data.data.forEach(item => {
                this.attributes.push({
                    key: item.EVN_NO,
                    customData: {
                        title: item.ART_NAME,
                        class: "bg-red-600 text-white",
                    },
                    dates: new Date(item.EVN_DATE_STARTDAY),
                });
            });
        });
    },
    monthChange($page){
        console.log($page);
        this.currYear = $page.year;
        this.currMonth = $page.month;
        this.getEvents()
    }
  },
};
</script>

