<template>
    <div>
        <div class="flex flex-col">
            <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="inline-block py-2 min-w-full sm:px-6 lg:px-8">
                    <div class="overflow-hidden shadow-md sm:rounded-lg">
                        <table class="min-w-full">
                            <thead class="bg-gray-50">
                                <tr>
                                    <th
                                        scope="col"
                                        class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase"
                                    >
                                        ID
                                    </th>
                                    <th
                                        scope="col"
                                        class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase"
                                    >
                                        Article
                                    </th>
                                    <th
                                        scope="col"
                                        class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase"
                                    >
                                        Price
                                    </th>
                                    <th
                                        scope="col"
                                        class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase"
                                    >
                                        Type
                                    </th>
                                    <th
                                        scope="col"
                                        class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase"
                                    >
                                        From
                                    </th>
                                    <th
                                        scope="col"
                                        class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase"
                                    >
                                        To
                                    </th>
                                    <!-- <th
                                        scope="col"
                                        class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase"
                                    >
                                        Additional Info
                                    </th> -->
                                    <th scope="col" class="relative py-3 px-6">
                                        <span class="sr-only">Edit</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    v-for="sale in sales"
                                    :key="sale.SAL_NO"
                                    class="bg-white border-b"
                                >
                                    <td
                                        class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap"
                                    >
                                        {{ sale.SAL_NO }}
                                    </td>
                                    <td
                                        class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap"
                                    >
                                        {{ sale.ART_NAME }}
                                    </td>
                                    <td
                                        class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap"
                                    >
                                        €{{ sale.PRC_PRICE }}
                                    </td>
                                    <td
                                        class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap"
                                    >
                                        {{ sale.SAL_TYPE }}
                                    </td>
                                    <td
                                        class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap"
                                    >
                                        {{ sale.SAL_DATE_FROM }}
                                    </td>
                                    <td
                                        class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap"
                                    >
                                        {{ sale.SAL_DATE_TO }}
                                    </td>
                                    <td
                                        class="py-4 px-6 text-sm font-medium text-right whitespace-nowrap"
                                    >
                                        <a
                                            href="#"
                                            class="text-blue-600 hover:underline"
                                            >Edit</a
                                        >
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <button
            v-on:click="firstPage"
            class="text-white bg-blue-400 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2 text-center mr-2 mb-2"
        >
            First
        </button>
        <button
            v-on:click="prevPage"
            class="text-white bg-blue-400 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2 text-center mr-2 mb-2"
        >
            Prev
        </button>
        <button
            v-on:click="nextPage"
            class="text-white bg-blue-400 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2 text-center mr-2 mb-2"
        >
            Next
        </button>
        <button
            v-on:click="lastPage"
            class="text-white bg-blue-400 hover:bg-blue-600 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2 text-center mr-2 mb-2"
        >
            Last
        </button>
        <button
            v-on:click="createRandom"
            class="text-white bg-indigo-400 hover:bg-indigo-600 focus:ring-4 focus:ring-indigo-300 font-medium rounded-lg text-sm px-3 py-2 text-center mr-2 mb-2"
        >
            Create random entry!
        </button>
    </div>
</template>

<script>
export default {
    data() {
        return {
            sales: [],
            current: null,
            next: null,
            prev: null,
            first: null,
            last: null,
        };
    },
    mounted() {
        console.log("Component mounted.");
        axios.get("/api/sales").then((response) => {
            console.log(response);
            this.sales = response.data.data;
            this.current = response.config.url;
            this.prev = response.data.links.prev;
            this.next = response.data.links.next;
            this.first = response.data.links.first;
            this.last = response.data.links.last;
        });
    },
    created() {
        Echo.channel(`sales`).listen("SaleAdded", (e) => {
            axios.get(this.current).then((response) => {
                console.log(response);
                this.sales = response.data.data;
                this.current = response.config.url;
                this.prev = response.data.links.prev;
                this.next = response.data.links.next;
                this.first = response.data.links.first;
                this.last = response.data.links.last;
            });
        });

        Echo.channel(`sales`).listen("SaleDeleted", (e) => {
            axios.get(this.current).then((response) => {
                console.log(response);
                this.sales = response.data.data;
                this.current = response.config.url;
                this.prev = response.data.links.prev;
                this.next = response.data.links.next;
                this.first = response.data.links.first;
                this.last = response.data.links.last;
            });
        });
    },
    methods: {
        firstPage() {
            axios.get(this.first).then((response) => {
                console.log(response);
                this.sales = response.data.data;
                this.current = response.config.url;
                this.prev = response.data.links.prev;
                this.next = response.data.links.next;
            });
        },
        prevPage() {
            axios.get(this.prev).then((response) => {
                console.log(response);
                this.sales = response.data.data;
                this.current = response.config.url;
                this.prev = response.data.links.prev;
                this.next = response.data.links.next;
            });
        },
        nextPage() {
            axios.get(this.next).then((response) => {
                console.log(response);
                this.sales = response.data.data;
                this.current = response.config.url;
                this.prev = response.data.links.prev;
                this.next = response.data.links.next;
            });
        },
        lastPage() {
            axios.get(this.last).then((response) => {
                console.log(response);
                this.sales = response.data.data;
                this.current = response.config.url;
                this.prev = response.data.links.prev;
                this.next = response.data.links.next;
            });
        },
        createRandom() {
            axios.post('/sales', {
                SAL_ART_NO: '1',
                SAL_PRC_NO: '1',
                SAL_TYPE: Math.floor(Math.random() * 10),
                SAL_DATE_FROM: new Date(start.getTime() + Math.random() * (end.getTime() - start.getTime())),
                SAL_DATE_TO: new Date(start.getTime() + Math.random() * (end.getTime() - start.getTime())),
                SAL_ADDITIONAL_PROPERTIES: {'de': 'Test der Route', 'en': 'Test of the route'},
            })
        },
    },
};
</script>
